<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kve.master.mapper.TaskEntityMapper">

    <resultMap type="com.kve.master.bean.TaskEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="targetClass" column="target_class"/>
        <result property="targetMethod" column="target_method"/>
        <result property="targetArguments" column="target_arguments"/>
        <result property="triggerGroup" column="trigger_group"/>
        <result property="triggerName" column="trigger_name"/>
        <result property="jobStatus" column="job_status"/>
        <result property="cronExpression" column="cron_expression"/>
        <result property="description" column="description"/>
        <result property="lastRunTimestamp" column="last_run_timestamp"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createName" column="create_name"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateName" column="update_name"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="ScheduledTask">
        id, target_class, target_method, target_arguments,
        trigger_group, trigger_name, job_status, cron_expression,
        description,last_run_timestamp, create_time, update_time,create_by,create_name,update_by,update_name,del_flag
    </sql>

    <insert id="addTask" parameterType="com.kve.master.bean.TaskEntity">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO scheduled_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="targetClass != null">
                target_class,
            </if>
            <if test="targetMethod != null">
                target_method,
            </if>
            <if test="targetArguments != null">
                target_arguments,
            </if>
            <if test="triggerGroup != null">
                trigger_group,
            </if>
            <if test="triggerName != null">
                trigger_name,
            </if>
            <if test="jobStatus != null">
                job_status,
            </if>
            <if test="cronExpression != null">
                cron_expression,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateName != null">
                update_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="targetClass != null">
                #{targetClass,jdbcType=VARCHAR},
            </if>
            <if test="targetMethod != null">
                #{targetMethod,jdbcType=VARCHAR},
            </if>
            <if test="targetArguments != null">
                #{targetArguments,jdbcType=VARCHAR},
            </if>
            <if test="triggerGroup != null">
                #{triggerGroup,jdbcType=VARCHAR},
            </if>
            <if test="triggerName != null">
                #{triggerName,jdbcType=VARCHAR},
            </if>
            <if test="jobStatus != null">
                #{jobStatus,jdbcType=TINYINT},
            </if>
            <if test="cronExpression != null">
                #{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateName != null">
                #{updateName,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.kve.master.bean.TaskEntity">
        UPDATE scheduled_task
        <set>
            <if test="targetClass!=null">
                target_class=#{targetClass,jdbcType=VARCHAR},
            </if>
            <if test="targetMethod!=null">
                target_method=#{targetMethod,jdbcType=VARCHAR},
            </if>
            <if test="targetArguments!=null">
                target_arguments=#{targetArguments,jdbcType=VARCHAR},
            </if>
            <if test="triggerGroup!=null">
                trigger_group=#{triggerGroup,jdbcType=VARCHAR},
            </if>
            <if test="triggerName!=null">
                trigger_name=#{triggerName,jdbcType=VARCHAR},
            </if>
            <if test="jobStatus!=null">
                job_status=#{jobStatus,jdbcType=TINYINT},
            </if>
            <if test="cronExpression!=null">
                cron_expression=#{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="description!=null">
                description=#{description,jdbcType=VARCHAR},
            </if>
            <if test="lastRunTimestamp!=null">
                last_run_timestamp=#{lastRunTimestamp,jdbcType=BIGINT},
            </if>
            <if test="updateBy!=null">
                update_by=#{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateName!=null">
                update_name=#{updateName,jdbcType=VARCHAR},
            </if>
            <if test="delFlag!=null">
                del_flag=#{delFlag,jdbcType=TINYINT},
            </if>
        </set>
        WHERE id=#{id,jdbcType=INTEGER}
    </update>

    <select id="countByTriggerDetail" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM scheduled_task
        WHERE del_flag=0
        AND trigger_group=#{triggerGroup,jdbcType=VARCHAR}
        AND trigger_name=#{triggerName,jdbcType=VARCHAR}
    </select>

    <select id="findById" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        SELECT
        <include refid="ScheduledTask"/>
        FROM scheduled_task
        WHERE del_flag=0
        AND id=#{id,jdbcType=INTEGER}
        LIMIT 1
    </select>

    <update id="removeById">
        UPDATE scheduled_task
        SET del_flag = 1,
        update_by=#{updateBy,jdbcType=VARCHAR},
        update_name=#{updateName,jdbcType=VARCHAR}
        WHERE id=#{id,jdbcType=INTEGER}
    </update>

    <select id="listPageByCondition" parameterType="com.kve.master.bean.dto.TaskPageQueryDTO"
            resultMap="BaseResultMap">
        SELECT
        <include refid="ScheduledTask"/>
        FROM scheduled_task
        WHERE del_flag=0
        AND trigger_group=#{triggerGroup,jdbcType=VARCHAR}
        <if test="jobStatus !=null and jobStatus!= -1">
            AND job_status =#{jobStatus,jdbcType=TINYINT}
        </if>
        <if test="targetNameLike != null and targetNameLike !='' ">
            AND target_name LIKE CONCAT(#{targetNameLike,jdbcType=VARCHAR},'%')
        </if>
        <if test="targetMethodLike != null and targetMethodLike !='' ">
            AND target_method LIKE CONCAT(#{targetMethodLike,jdbcType=VARCHAR},'%')
        </if>
        ORDER BY job_status,id
        LIMIT #{limit},#{pageSize}
    </select>

</mapper>
