<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="null" debug="null">

    <!-- 指定控制台输出 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} xxl-job-executor-example [%c]-[%t]-[%M]-[%L]-[%p] %m%n"/>
		</layout>
	</appender>

    <!-- 指定文件输出 -->
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/data/applogs/w-job/w-job-executor-1.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} xxl-job-executor-example [%c]-[%t]-[%M]-[%L]-[%p] %m%n"/>
        </layout>
    </appender>

    <!-- 指定文件输出 -->
    <appender name="w-job" class="com.xxl.job.core.log.XxlJobFileAppender">
        <param name="filePath" value="/data/applogs/w-job/taskdetail"/>
        <!--<param name="append" value="true"/>-->
        <!--<param name="encoding" value="UTF-8"/>-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} xxl-job-executor-example [%c]-[%t]-[%M]-[%L]-[%p] %m%n"/>
        </layout>
    </appender>


    <logger name="com.kve.common" additivity="false">
    	<level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="w-job"/>
    </logger>
<!--    <logger name="com.xxl.job.executor.service.jobhandler" additivity="false">-->
<!--    	<level value="INFO" />-->
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="FILE" />-->
<!--        <appender-ref ref="w-job"/>-->
<!--    </logger>-->
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="w-job"/>
    </root>

</log4j:configuration>